.banner-bg
{
	position: relative;
    background-image: url('../content/desk_crop.png');
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
}

.research-banner-bg
{
	position: relative;
    background-image: url('../content/horizon.png');
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
}